@font-face {
	font-family: 'GothamPro';
	src: url('../fonts/GothamPro.eot');
	src: url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
	url('../fonts/GothamPro.woff2') format('woff2'),
	url('../fonts/GothamPro.woff') format('woff'),
	url('../fonts/GothamPro.ttf') format('truetype'),
	url('../fonts/GothamPro.svg#GothamPro') format('svg');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'GothamPro';
	src: url('../fonts/GothamPro-Black.eot');
	src: url('../fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/GothamPro-Black.woff2') format('woff2'),
	url('../fonts/GothamPro-Black.woff') format('woff'),
	url('../fonts/GothamPro-Black.ttf') format('truetype'),
	url('../fonts/GothamPro-Black.svg#GothamPro-Black') format('svg');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'GothamPro';
	src: url('../fonts/GothamPro-Bold.eot');
	src: url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/GothamPro-Bold.woff2') format('woff2'),
	url('../fonts/GothamPro-Bold.woff') format('woff'),
	url('../fonts/GothamPro-Bold.ttf') format('truetype'),
	url('../fonts/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'GothamPro';
	src: url('../fonts/GothamPro-Medium.eot');
	src: url('../fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/GothamPro-Medium.woff2') format('woff2'),
	url('../fonts/GothamPro-Medium.woff') format('woff'),
	url('../fonts/GothamPro-Medium.ttf') format('truetype'),
	url('../fonts/GothamPro-Medium.svg#GothamPro-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'GothamPro';
	src: local('Gotham Pro Light'), local('Gotham-Pro-Light'),
	url('../fonts/GothamPro-Light.woff2') format('woff2'),
	url('../fonts/GothamPro-Light.woff') format('woff'),
	url('../fonts/GothamPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
    font-family: "SFUIDisplay";
    src:  url('../fonts/SFUIDisplay-Light.woff2') format('woff2'),
        url('../fonts/SFUIDisplay-Light.woff') format('woff'),
        url('../fonts/SFUIDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
	font-family: 'NewBaskervilleC';
	src: url('../fonts/NewBaskervilleC-Bold.eot');
	src: url('../fonts/NewBaskervilleC-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/NewBaskervilleC-Bold.woff2') format('woff2'),
	url('../fonts/NewBaskervilleC-Bold.woff') format('woff'),
	url('../fonts/NewBaskervilleC-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
  @font-face {
	font-family: 'NewBaskervilleC';
	src: url('../fonts/NewBaskervilleC.eot');
	src: url('../fonts/NewBaskervilleC.eot?#iefix') format('embedded-opentype'),
	url('../fonts/NewBaskervilleC.woff2') format('woff2'),
	url('../fonts/NewBaskervilleC.woff') format('woff'),
	url('../fonts/NewBaskervilleC.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}