/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1330px) {
	.form-search {
		width: 31.5%;
	}
	.slider-billbord .circle-sale {
		right: 150px;
	}
	.sidebar-catalog {
		width: 300px;
	}
	.card__features {
		padding-left: 15px;
	}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.location-block {
		display: none;
	}
	.menu > li > a {
		font-size: 11px;
	}
	.slider-billbord .circle-sale {
		right: 58px;
	}
	.banner {
		padding: 20px;
	}
	.slider-products { 
		padding: 0 1px;
	}
	.row_showcase .row .item-showcase__title {
		font-size: 19px;
	}
	.row_showcase .row .item-showcase {
		padding-left: 20px;
	}
	.title-big {
		font-size: 56px;
		line-height: 57px;
	}
	.title-big span {
		font-size: 43px;
	}
	.consultation__descr, .consultation__text {
		padding-left: 40px;
	}
	.item-news {
		max-width: 269px;
	}
	.item-news__content {
		margin-left: 20px;
		margin-right: -15px;
	}
	.item-news__name {
		font-size: 22px;
	}
.sidebar-catalog {
    width: 250px;
}
.row_catalog .item-product .btn-main {
	padding: 0 26px;
}
.feature-product p {
    width: 136px;
}
.feature-product {
    font-size: 14px;
}
.availability-unit {
	font-size: 12px;
}
.card__center .card__price {
    margin-right: 37px;
}
.card-info {
	padding: 14px;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.form-search {
		display: none;
	}
	.contacts-item {
		display: none;
	}
	.billbord__right {
		display: flex;
		justify-content: space-between;
	}
	.banner {
		width: 49%;
		margin-top: 20px;
	}
	.tabs {
		font-size: 15px;
	}
	.row_showcase > div > .item-showcase {
		min-height: 400px;
		margin-bottom: 25px;
		background-position: center right;
	}
	.consultation__descr, .consultation__text {
		padding-left: 0;
	}
	.title-big {
		font-size: 46px;
		line-height: 44px;
	}
	.title-big span {
		font-size: 36px;
	}
	.consultation__descr {
		font-size: 19px;
		line-height: 29px;
		padding-top: 15px;
		padding-bottom: 13px;
	}
	.consultation__image {
		left: -530px;
	}
	.news-wrap {
		justify-content: space-around;
	}
	.item-news {
		margin-bottom: 30px;
	}
	.news {
		padding-bottom: 50px;
	}
	.btn-phone {
		width: 54px;
		height: 45px;
		font-size: 18px;
		align-items: center;
		justify-content: center;
		margin-left: auto;
		background-color: #f9f7f4;
		border-radius: 6px;
		display: inline-flex;
		color: #7b1212;
	}
	.header__top {
		display: block;
		padding: 10px 0;
	}
	.header {
		position: relative;
	}
	.headerr {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1000;
		background-color: #fff;
	}
	.menu {
		display: block;
	}
	.menu > li > a {
		padding: 11px 0;
		text-align: left;
	}
	.wrapper {
		padding-top: 0 !important;
	}
	.btn-catalog-mobile {
		padding: 15px 15px;
		margin: 0 -15px;
		display: flex;
		align-items: center;
		font-size: 16px;
		color: #fff;
		background-color: #9d4a4a;
	}
	.btn-catalog-bottom {
		text-align: center;
	}
	.btn-catalog-bottom {
		padding: 10px 0;
		margin-top: 15px;
		border-top: 1px solid rgba(255, 255, 255, 0.5);
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.btn-catalog-mobile i {
		font-size: 16px;
		margin-right: 15px;
	}
	.header__bottom {
		margin-top: 15px;
		padding-bottom: 5px;
	}
	.menu-catalog {
		padding: 10px 0;
		padding-top: 50px;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		border-radius: 0;
	}
	.menu-catalog__close {
		display: block;
		padding: 13px 15px;
		background-color: #7b1212;
		color: #fff;
		position: fixed;
		top: 0;
		left: 0;
		text-align: center;
		width: 100%;
		z-index: 4;
	}
	.menu-dropdown {
		display: none;
	}
	.menu-catalog__wrap {
		display: block;
	}
	.menu-catalog__col {
		width: 100% !important;
	}
	.fixed-links {
		display: none;
	}
	.btn_nav_menu {
		display: inline-block;
	}
	.btn_nav_catalog {
		display: none;
	}
	.menu-mobile {
		padding: 20px 15px;
		padding-bottom: 40px;
		position: absolute;
		top: 60px;
		left: 0;
		width: 100%;
		background-color: #fff;
		overflow: auto;
		z-index: 200;
		box-shadow: 0 3px 7px rgba(157, 157, 157, 0.35);
	}
	.menu > li > a::after,
	.menu > li > a::before {
		display: none;
	}
	.menu-mobile .menu  {
		display: block;
	}
	.menu-mobile .menu > li > a {
		padding: 10px 0;
		font-size: 14px;
		text-align: left;
		color: #000;
		border-bottom: 1px solid #000;
	}
	.form-search {
		margin-top: 25px;
		margin-bottom: 15px;
		width: 100%;
	}
	.menu-mobile .contacts-item,
	.menu-mobile .location-block,
	.menu-mobile  .fixed-links,
	.menu-mobile .form-search {
		display: block;
	}
	.menu-mobile  .fixed-links {
		position: relative;
		top: 0;
		left: 0;
		margin-bottom: 15px;
		display: flex;
	}
	.btn-basket-mobile {
		width: 54px;
		height: 45px;
		font-size: 20px;
		align-items: center;
		justify-content: center;
		margin-left: auto;
		background-color: #f9f7f4;
		border-radius: 6px;
		display: inline-flex;
		color: #7b1212;
		position: relative;
	}
	.btn-basket-mobile .fixed-links__value {
		color: #fff;
		top: 4px;
	}
	.menu-mobile .fixed-links li {
		margin-right: 25px;
		margin-bottom: 0;
	}
	.btn_nav_menu {
		order: 2;
		margin-left: 15px;
	}
	.btn-basket-mobile {
		margin-left: 15px;
	}
	.logo {
		margin: 0 !important;
		order: -1;
	}
	.btn_nav {
		margin-right: 0 !important;
	}
	.menu-mobile .footer__list {
		margin-bottom: 15px;
	}
	.menu-mobile .footer__list li {
		margin: 0;
	}
	.menu-mobile .footer__list li a {
		padding: 10px 0;
		color: #000;
		font-size: 14px;
		border-bottom: 1px solid #000;
		display: block;
	}
	.desc-logo {
		display: none;
	}
	.menu-mobile .contacts-item {
		margin-top: 15px;
	}
	.menu-mobile  .location-block {
		z-index: 700;
		display: inline-block;
	}
	.menu-mobile  .location-block__list {
		top: auto;
		bottom: 100%;
	}
	.tabs__circle {
		left: 47px;
	}
	.tabs .tabs__item:nth-child(2).active ~ .tabs__circle {
		left: 182px;
	}
	.tabs .tabs__item:nth-child(3).active ~ .tabs__circle {
		left: 337px;
	}
	.tabs .tabs__item:nth-child(4).active ~ .tabs__circle {
		left: 490px;
	}
	.tabs .tabs__item:nth-child(5).active ~ .tabs__circle {
		left: 640px;
	}
	.form-search_mobile {
		margin: 0 15px;
		width: inherit;
		margin-top: 20px;
		display: block;
	}
	.sidebar-catalog {
		width: 100%;
		display: none;
	}
	.col_catalog {
		padding-left: 15px;
	}
.sidebar-open {
	padding: 15px 20px;
	font-size: 18px;
	font-weight: 500;
	display: flex;
	align-items: center;
	cursor: pointer;
	justify-content: space-between;
	color: #000;
	    background-color: #f9f7f4;
}
.catalog .title-section {
	padding-top: 15px;
}
.sidebar-catalog__title { 
	display: none;
}
.header_page .btn-catalog-bottom,
.header_page .header__bottom .menu {
	display: none;
}
.header_page .header__bottom {
	padding-bottom: 0;
}
.header_page .form-search_mobile {
	display: none;
}
.card-info {
	padding: 22px;
	padding-bottom: 15px;
	float: none;
	margin: 0 auto;
	margin-top: 25px;
}
.tab-container-card {
	font-size: 14px;
}
.tab-container-card p {
    line-height: 21px;
    margin-bottom: 15px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.desc-logo {
		display: none;
	}
	.header__top {
		padding: 10px 0;
		display: block;
	}
	.logo {
		margin: 0 auto;
	}
	.slider-billbord__title {
		font-size: 54.1px;
	}
	.slider-billbord__title span {
		font-size: 35.6px;
	}
	.slider-billbord__descr {
		font-size: 17px;
		line-height: 26px;
	}
	.slider-billbord__item {
		min-height: 415px;
		background-position: left;
	}
	.circle-sale {
		width: 115px;
		height: 115px;
	}
	.circle-sale strong {
		font-size: 28px;
		line-height: 36px;
	}
	.circle-sale p {
		font-size: 15px;
		line-height: 17px;
	}
	.slider-billbord .circle-sale {
		right: 11px;
		bottom: 92px;
	}   
	.banner {
		font-size: 14px;
	}
	.banner p {
		line-height: 21px;
	}
	.banner {
		margin-top: 14px;
	}
	.products {
		padding-top: 40px;
		padding-bottom: 35px;
	}
	.tabs {
		font-size: 13px;
		text-align: center;
	}
	.tabs .tabs__item a {
		padding-bottom: 15px;
	}
	.item-product__image {
		height: 218px;
		margin-bottom: 10px;
	}
	.slider-products {
		padding-bottom: 40px;
	}
	.title-section {
		font-size: 28px;
		text-align: center;
	}
	.expert .title-section {
		padding-bottom: 20px;
	}
	.expert {
		padding-bottom: 44px;
	}
	.showcase {
		padding-bottom: 40px;
	}
	.consultation__left {
		padding-left: 15px;
		text-align: center;
	}
	.consultation__image {
		display: none;
	}
	.consultation .form-block {
		margin: 0 auto;
		margin-top: 30px;
	}
	.consultation {
		padding-top: 40px;
	}
	.novelty {
		padding-top: 40px;
		padding-bottom: 35px;
	}
	.novelty .title-section {
		padding-bottom: 23px;
	}
	.item-news {
		max-width: 322px;
	}
	.item-news__content {
		margin-left: 40px;
		margin-right: -29px;
	}
	.news {
		padding-bottom: 30px;
	}
	.footer__content {
		display: none;
	}
	.footer__title {
		font-size: 20px;
		padding: 10px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid #c69e77;
	}
	.footer__bottom {
		text-align: center;
	}
	.footer__bottom .align_right {
		text-align: center;
	}
	.footer__bottom .row > div {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.footer {
		padding-top: 15px;
	}
	.footer__title i {
		font-size: 14px;
		transition: all 0.3s;
		display: inline-block;
	}
	.footer__title.active i {
		transform: rotate(45deg);
	}
	.btn_nav {
		margin-right: auto;
	}
	.slider-products {
		padding-left: 2px;
		padding-right: 2px;
	}
	.tabs__circle {
		left: 7%;
	}
	.tabs .tabs__item:nth-child(2).active ~ .tabs__circle {
		left: 25%;
	}
	.tabs .tabs__item:nth-child(3).active ~ .tabs__circle {
		left: 47%;
	}
	.tabs .tabs__item:nth-child(4).active ~ .tabs__circle {
		left: 69%;
	}
	.tabs .tabs__item:nth-child(5).active ~ .tabs__circle {
		left: 89%;
	}
	.banner  {
		display: none;
	}
	.col_mobile {
		display: block;
	}
	.col_hidden_mobile {
		display: none;
	}
	.filter-category {
		margin-right: 18px;
	}
	.row_catalog .item-product:not(:hover) {
	border-left: 1px #f2efe9 solid;
}
.card__image img {
	max-height: 300px;
}
.feature-product p {
    width: 170px;
}
.feature-product {
	padding-bottom: 0;
}
.recomendation .title-section {
    padding-top: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    }
    .recomendation {
    padding-bottom: 40px;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.slider-billbord__title {
		font-size: 30px;
	}
	.slider-billbord__title span {
		font-size: 20px;
	}
	.slider-billbord__descr {
		font-size: 14px;
		line-height: 21px;
	}
	.slider-billbord__odlprice {
		font-size: 20px;
		line-height: 18px;
	}
	.slider-billbord__price {
		font-size: 27px;
		line-height: 20px;
	}
	.slider-billbord__item {
		padding-top: 20px;
		min-height: 350px;
	}
	.slider-billbord__prices {
		margin-top: 98px;
	}
	.circle-sale {
		width: 85px;
		height: 85px;
	}
	.circle-sale::after {
		top: 3px;
		bottom: 3px;
		left: 3px;
		right: 3px;
		border: 2px solid #f7deae;
	}
	.circle-sale p {
		font-size: 11px;
		line-height: 14px;
	}
	.circle-sale strong {
		font-size: 19px;
		line-height: 29px;
	}
	.slider-billbord .circle-sale {
		right: 35px;
		bottom: 145px;
	}
	.slider-billbord .btn-main {
		margin-top: 20px;
	}
	.banner {
		font-size: 12px;
	} 
	.banner p {
		line-height: 17px;
	}
	.banner {
		padding: 13px;
		background-position: right;
		position: relative;
		z-index: 1;
	}
	.banner::before {
		position: absolute;
		display: block;
		content: " ";
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color:rgba(0, 0, 0, 0.4);
		z-index: -1;
		border-radius: 10px;
	}
	.item-product {
		margin-bottom: 1px;
	}
	.btn-block {
		font-size: 12px;
		padding: 8px 7px;
	}
	.item-showcase {
		padding-left: 20px;
	}
	.title-big {
		font-size: 36px;
		line-height: 38px;
	}
	.title-big span {
		font-size: 30px;
	}
	.consultation__descr {
		font-size: 15px;
		line-height: 23px;
	}
	.consultation {
		padding-top: 30px;
		padding-bottom: 50px;
	}
	.consultation__text {
		line-height: 20px;
		font-size: 14px;
	}
	.news .title-section {
		padding-top: 28px;
		padding-bottom: 25px;
	}
	.item-news__content {
		margin-right: -15px;
	}
	.tabs {
		font-size: 14px;
		flex-wrap: wrap;
		border: none;
		justify-content: center;
	}
	.tabs .tabs__item {
		width: 50%;
	}
	.tabs a {
		display: block;
	}
	.tabs a::before {
		display: none;
	}
	.tab-container {
		padding-top: 15px;
	}
	.tabs .active a {
		font-weight: 600;
	}
	.logo img {
		width: 91px;
	}
	.wrapper {
		padding-top: 65px;
	}
	.footer__list li {
		margin-bottom: 15px;
	}
	.footer__content {
		padding-top: 15px;
	}
	.tabs__circle {
		display: none;
	}
	.slider-billbord .slick-arrow {
		top: 47%;
	}
	.row_showcase .row {
		margin: 0 -5px;
	}
	.row_showcase .row > div {
		padding: 0 5px;
		margin-bottom: 10px;
	}
	.item-showcase {
		font-size: 12px;
	}
	.row_showcase .row .item-showcase__title {
    font-size: 14px;
}
.row_showcase .row .item-showcase {
    padding-left: 8px;
    min-height: 100%;
}
.row_showcase .row .item-showcase li {
    margin-bottom: 5px;
}
.btn-basket-mobile,
.btn_nav_menu {
	margin-left: 9px;
}
.item-tag {
    padding: 6px 8px;
    margin-right: 4px;
    }
    .top-filter {
    	display: block;
    }
    .top-filter__right {
    	padding-top: 15px;
    	justify-content: flex-start;
    }
   .row_catalog > div {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.pager {
	padding-top: 30px;
}
.catalog {
	padding-bottom: 30px;
}
.breadcumbs {
	padding-top: 20px;
}
.sidebar-open {
	font-size: 16px;
}
.card .title-section {
    font-size: 24px;
    padding-bottom: 21px;
}
.feature-product p {
    width: 149px;
}
.card__center {
	padding: 20px 0;
}
.card-info {
	padding: 14px;
}
.tabs-card li a {
    padding: 0 14px;
    font-size: 14px;
    }
    .tab-container-card {
    	padding-top: 20px;
    }
    .tabs-card {
    	margin-top: 30px;
    }
    .tabs-card li {
    	flex: 1;
    }
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.footer__content {
		display: block !important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.menu-mobile {
		display: none !important;
	}
	.sidebar-catalog {
		display: block !important;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media only screen and (min-width : 1330px) {
	.container {
		max-width: 1330px;
	}
}
@media (min-width: 1600px) {
	.container {
		max-width: 1330px;
	}
}